.text {
    width: 200px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
}
.me img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.oba:nth-child(even){
    float:right
}